html {
  margin: 0;
  padding: 0;
  top: 0;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial;
  background: white;
}

body {
  margin: 0;
  padding: 0;
  height: 1000px;
  min-height: fit-content;
  display: flex;
  flex-flow: column;
  width: 100%;
  overflow-x: hidden !important;
  text-align: center;

}

section {
  scroll-margin-top: 13vh;
}

header {
  height: 11vh;
  width: 100%;
  margin: 0 auto;
  padding-top: 2vh;
  z-index: 1;
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: baseline;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

h1#headername {
  color: #1c3144;
  padding: 2vh;
  font-size: 40px;
  font-weight: 900;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(
    170deg,
    rgba(208, 0, 0, 1) 39%,
    rgba(1, 22, 39, 1) 49%,
    rgba(0, 0, 0, 1) 64%,
    rgba(63, 136, 197, 1) 82%,
    rgba(63, 136, 197, 1) 100%
  );
}

ul.nav-links {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: auto;
  font-weight: 900;
  padding-left: 10px;
}

a {
  text-decoration: none;
  text-emphasis: none;
  color: #1c3144;
  padding: 1vh;
  padding: 1vh;
}

a:hover {
  color: rgba(208, 0, 0, 1);
}

a:target {
  display: block;
  position: relative;
  visibility: hidden;
  margin: 10vh;
}

#flex-parent-container {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.welcome-section {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  background-color: transparent;
}
.about {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  background-color: transparent;
}
.learnedLang {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  height: auto;
}
.languagedisplay {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  height: auto;
}

.projects {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  padding: 0;
  justify-content: space-between;
}

.contact {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  padding: 0;
  margin-top: 12vh; 
}

#namecontainer {
  text-align: center;
  align-self: center;
  flex-flow: column;
  display: flex;
  height: fit-content;
  width: auto;
  font-weight: 900;
}
#yashImage {
  margin-top: 14vh;
  max-width: 100%;
  border-radius: 20%;
  position: relative;
  background: red;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
#name1 {
  font-size: 6vw;
  color: #1c3144;
  position: relative;
  font-weight: 900;
  width: fit-content;
  margin: 0 auto;
  padding: 40px;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(
    170deg,
    rgba(208, 0, 0, 1) 39%,
    rgba(1, 22, 39, 1) 49%,
    rgba(0, 0, 0, 1) 64%,
    rgba(63, 136, 197, 1) 82%,
    rgba(63, 136, 197, 1) 100%
  );
}

#namecaption {
  font-size: 3vw;
  position: relative;
  color: #2f1d0e;
  font-weight: 900;
  width: fit-content;
  margin: 0 auto;
  border-radius: 14%;
  padding: 13px;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(
    170deg,
    rgba(208, 0, 0, 1) 39%,
    rgba(1, 22, 39, 1) 49%,
    rgba(0, 0, 0, 1) 64%,
    rgba(63, 136, 197, 1) 82%,
    rgba(63, 136, 197, 1) 100%
  );
}

#language-container {
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  flex-flow: column;
  width: 100%;
  min-height: 100vh;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: transparent;
}

#row-container {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  justify-content: center;
  background-color: transparent;
  margin-bottom: 200px;
  margin-top:-200px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 5px;
  width: 100%;
  justify-content: space-around;
}

.language {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: space-around;
  border-radius: 20%;
  max-width: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-box-shadow: 1px 4px 15px 2px rgba(87, 87, 87, 0.53);
  box-shadow: 1px 4px 15px 2px rgba(63, 136, 197, 1 ), 82%,
  ;
  background-image: linear-gradient(
    170deg,
    rgba(208, 0, 0, 1) 39%,
    rgba(1, 22, 39, 1) 49%,
    rgba(0, 0, 0, 1) 64%,
    rgba(63, 136, 197, 1) 82%,
    rgba(63, 136, 197, 1) 100%
  );
}

#blurb {
  align-items: center;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  padding: 3vw;
  text-align: center;
  font-size: 85px;
  margin-top: 3vh;
  margin-bottom: 3vh;
  background-color: transparent;
}

p {
  width: 60vw;
  text-align: center;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 10vw;
  font-size: 40px;
  background-color: transparent;
  font-weight: 400;
}

.sectiontitle {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 90px;
  padding: 0;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(
    170deg,
    rgba(208, 0, 0, 1) 39%,
    rgba(1, 22, 39, 1) 49%,
    rgba(0, 0, 0, 1) 64%,
    rgba(63, 136, 197, 1) 82%,
    rgba(63, 136, 197, 1) 100%
  );
  color: #1c3144;
  margin-bottom: 20px;
  font-weight: 900;
}
@media  screen and (max-width: 768px) {
  #name1 {
    font-size: 90px;
    color: #1c3144;
    position: relative;
    font-weight: 900;
    width: fit-content;
    margin: 0 auto;
    padding: 40px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    background-clip: text;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-image: linear-gradient(
      170deg,
      rgba(208, 0, 0, 1) 39%,
      rgba(1, 22, 39, 1) 49%,
      rgba(0, 0, 0, 1) 64%,
      rgba(63, 136, 197, 1) 82%,
      rgba(63, 136, 197, 1) 100%
    );
  }
  header {
    height: 18vh;
    width: 100%;
    z-index: 1;
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    top: 0;
    left: 0;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  ul.nav-links {
    display: flex;
    width: auto;
    height: auto;
    font-weight: 900;
    margin: 0 auto;
    align-self: center;
    padding: 0;
  }
  .welcome-section {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    background-color: transFarent;
  }
  #flex-parent-container {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    margin-top: 10vh;
  }
  #yashImage {
    margin-top: 14vh;
    max-width: 100%;
    border-radius: 20%;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    height:400px;
  }  
  #row-container {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: auto;
    justify-content: center;
    background-color: transparent;
    margin-top:9vh;
  }
  

}
#contactTable {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content: space-around;
  background-color: transparent;
  font-weight: 800;
  margin-top: -200px;
}

#contact-list {
  display: inline-block;
  flex-flow: column wrap;
  list-style: none;
  background-color: transparent;
}

#contact-list li {
  padding: 20px;
  padding-right: 6vw;
  background-color: transparent;
}

#project-list {
  width: 100%;
  height: 100%;
  background-color: transparent;
  margin: 0 auto;
  font-weight: 900;
}

#project-list {
  display: inline-block;    background: red;

  flex-flow: column wrap;
  list-style: none;
  background-color: transparent;
}

table.project-table {
  width: 100%;
  height: 100vh;
  text-align: center;
  min-height: 33vh;
  background-color: transparent;
}

table.project-table td,
table.project-table th {
  border: 0px solid #aaaaaa;
  padding: 0px 0px;
  background-color: transparent;
}

table#contactTable {
  width: 100%;
  height: 100vh;
  text-align: center;
  min-height: 100vh;
  background-color: transparent;
}

table#contactTable td,
table.project-table th {
  border: 0px solid #aaaaaa;
  padding: 0px 0px;
  background-color: transparent;
}

#project-list li {
  padding: 20px;
  padding-right: 6vw;
  margin-top: 10vh;
  background-color: transparent;
}

#language-container h2 {
  font-size: 70px;
  background-color: transparent;
}

#html {
  background-image: url(https://cdn-icons-png.flaticon.com/512/732/732212.png);
  max-width: 100%;
  background-color: transparent;
}

#css {
  background-image: url(https://cdn-icons-png.flaticon.com/512/732/732190.png);
}

#jS {
  background: url(https://i2.wp.com/info.widespace.com/wp-content/uploads/2016/03/javascript-shield-logo.png?ssl=1)
    no-repeat scroll 50% -17px;
  background-size: 280px;
}

#py {
  background-image: url(https://www.kindpng.com/picc/m/159-1595848_python-logo-png-transparent-background-python-logo-png.png);
}

#c {
  background-image: url(webdevprojects/personalpage/icons/c.jpg) no-repeat
    scroll 50% 0%;
  background-size: contain;
  background-color: transparent;
}

.social-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 4vh;
  margin: 0 auto;
  width: 30%;
  font-size: 40px;
  margin-top: 40px;
  background-color: transparent;
}

#contactTable td {
  padding: 20px;
  background-color: transparent;
}

.logo {
  width: 90px;
  height: 90px;
  background-color: transparent;
  background-size: contain;
}
#githublogo{
  background-image: url(https://cdn-icons-png.flaticon.com/512/25/25231.png);

}
#twitterlogo{ 
 background-image: url(https://www.pngkit.com/png/full/175-1751841_instagram-logo-cute-twitter-logo-png.png);  
} 
#linkedinlogo{
  background-image: url(https://www.pngkit.com/png/full/8-85849_new-latest-linkedin-logo-linkedin-icon-png-black.png);

}
.project-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 4vh;
  margin: 0 auto;
  width: 40%;
  font-size: 40px;
  margin-top: 40px;
  background-color: transparent;
}

#projectTable {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  margin: 0 auto;
  justify-content: space-around;
  background-color: transparent;
  font-weight: 900;
}

#contactTable td {
  padding: 20px;
  background-color: transparent;
}

#codepenlogo {
  width: 90px;
  height: 90px;
  background-image: url(https://cdn2.iconfinder.com/data/icons/social-icons-33/128/Codepen-512.png);
  background-size: contain;
  background-color: transparent;
}
.logopadding {
  padding: 10px;
}
.stroke900{
  font-weight: 900;
}
a:target {
  display: block;
  position: relative;
  visibility: hidden;
  margin: 10vh;
}
.logo a:hover{
  color: black ;
}
a.licolor:hover{
  color:#2867B2; 
}
a.ghcolor:hover{
  color: #bd2c00;
}
a.twcolor:hover{
  color:#1DA1F2; 
}